<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="image" href="./assets/images/bg.png">
  <link rel="preload" as="image" href="./assets/images/intro-bg.png">
  <link rel="preload" as="image" href="./assets/images/title-bg.png">
</head>
