<template>
  <div class="console">
    <ul class="flex flex-start p-2">
      <li
        class="!ml-0 mr-1 rounded w-2 h-2 bg-red-400 inline-block !before:bg-none"
      />
      <li
        class="!ml-0 mr-1 rounded w-2 h-2 bg-yellow-300 inline-block !before:bg-none"
      />
      <li
        class="!ml-0 rounded w-2 h-2 bg-green-500 inline-block !before:bg-none"
      />
    </ul>
    <div class="body">
      <slot />
    </div>
  </div>
</template>
