<template>
  <header>
    <img :src="logoHeader" width="100" class="object-contain" />
  </header>
</template>

<script setup lang="ts">
import logoHeader from '../assets/images/logo-solid.svg'
</script>
