<script setup>
import mainBg from '../assets/images/bg.png'
import basicProps from '../utils/props'

const bgStyle = {
  backgroundImage: `url(${mainBg})`,
  backgroundSize: 'cover',
  backgroundPosition: 'center',
  backgroundAttachment: 'fixed',
}

const props = defineProps(basicProps)
</script>

<template>
  <div :style="bgStyle" class="dbp-layout flex flex-col">
    <slot />
    <main-footer />
  </div>
</template>
