<script setup>
import basicProps from '../utils/props'
const props = defineProps(basicProps)
</script>

<template>
  <div class="absolute bottom-0 right-10 w-full pl-20">
    <hr class="mb-4" />
    <page-number
      v-if="!props.hidePageNumber"
      variant="light"
      class="sticky text-end"
    />
  </div>
</template>
