<script setup lang="ts">
const props = defineProps({
  class: {
    type: String,
    default: '',
  },
  variant: {
    type: String,
    default: 'dark',
    validator: (v: string) => ['light', 'dark'].includes(v),
  },
})

const colorClassByVariant = {
  light: 'text-white',
  dark: 'text-brand-gray-secondary',
}
</script>

<template>
  <div
    :class="[
      'absolute',
      'bottom-0',
      'right-3',
      'mb-4',
      'text-sm',
      props.class,
      colorClassByVariant[props.variant],
    ]"
  >
    {{ $slidev.nav.currentPage }}
  </div>
</template>
