<template>
  <main-layout>
    <div class="my-auto">
      <slot />
      <console>
        <div class="terminal">
          <slot name="terminal" />
        </div>
      </console>
    </div>
  </main-layout>
</template>
