<script setup lang="ts">
import { computed } from 'vue'

import basicProps from '../utils/props'

const props = defineProps({
  ...basicProps,
  cols: {
    type: String,
    default: '1-1',
  },
})

const gridColsSize = computed(() => {
  if (!props.cols) return null
  switch (props.cols) {
    case '1-1':
      return 'grid-cols-2'
    case '1-2':
      return 'grid-cols-[1fr_2fr]'
    case '2-1':
      return 'grid-cols-[2fr_1fr]'
    default:
      return props.cols
  }
})
</script>

<template>
  <main-layout>
    <div class="grid gap-y-3 gap-x-5 default" :class="gridColsSize">
      <div>
        <slot />
      </div>
      <div v-if="cols">
        <slot name="right" />
      </div>
    </div>
  </main-layout>
</template>
