<script setup lang="ts">
import basicProps from '../utils/props'

import logo from '../assets/images/logo-white.svg'
import introBg from '../assets/images/intro-bg.png'

const props = defineProps({
  ...basicProps,
  author: String,
})

const bgStyle = {
  backgroundImage: `url(${introBg})`,
  backgroundSize: 'cover',
  backgroundPosition: 'center',
  backgroundAttachment: 'fixed',
}
</script>

<template>
  <div
    class="dbp-layout intro h-full flex flex-col justify-center items-center"
    :style="bgStyle"
  >
    <div class="grid place-content-center text-center m-auto">
      <slot />
    </div>
    <img :src="logo" width="200" class="object-contain" />
    <p
      v-if="props.author"
      class="absolute left-3 bottom-0 text-xs text-brand-gray-primary"
    >
      {{ author }}
    </p>
    <page-number v-if="!props.hidePageNumber" />
  </div>
</template>
