<script setup lang="ts">
import basicProps from '../utils/props'

const props = defineProps({
  ...basicProps,
  author: {
    type: String,
    default: '',
  },
})
</script>

<template>
  <main-layout>
    <div class="flex flex-col justify-center h-full z-2 max-w-[750px] pl-5">
      <div data-quote-container class="mb-2 text-5xl relative">
        <slot />
      </div>
      <hr class="w-48 border-t-5 border-primary mb-2" />
      <p v-if="props.author" class="italic text-xl font-extralight">
        {{ props.author }}
      </p>
    </div>
  </main-layout>
</template>
