<script setup lang="ts">
import Console from '../components/Console.vue'

import basicProps from '../utils/props'

const props = defineProps({
  ...basicProps,
  reverse: {
    type: Boolean,
  },
})
</script>

<template>
  <main-layout>
    <div class="grid grid-cols-2 gap-8" :class="{ 'gap-16': props.reverse }">
      <div class="prose pr-16" :class="{ 'order-1 text-right': props.reverse }">
        <slot />
      </div>
      <console>
        <slot name="window" />
      </console>
    </div>
  </main-layout>
</template>
