<script setup lang="ts">
import basicProps from '../utils/props'

import titleBg from '../assets/images/title-bg.png'

const props = defineProps(basicProps)

const bgStyle = {
  backgroundImage: `url(${titleBg})`,
  backgroundSize: 'cover',
  backgroundPosition: 'center',
  backgroundAttachment: 'fixed',
}
</script>

<template>
  <div
    class="dbp-layout title h-full flex flex-col justify-center items-start"
    :style="bgStyle"
  >
    <div class="grid place-content-start">
      <slot />
    </div>
    <page-number v-if="!props.hidePageNumber" />
  </div>
</template>
