.dbp-layout {
  @apply px-12 py-16 text-2xl h-full text-primary;

  pre, code {
    @apply select-text;
  }

  h1 {
    @apply text-4xl font-600 mb-3 -ml-[0.05em];
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }

  p {
    @apply my-4 leading-6 text-brand-gray-primary;
  }

  ul {
    list-style: none;

    li {
      @apply relative;
    }

    li:before {
      content: "";
      position: absolute;
      top: 14px;
      left: -14px;
      width: 14px;
      height: 14px;
      background: url(../assets/images/star-icon.svg) no-repeat left top;
    }
  }

  ol {
    list-style: decimal;
  }

  li {
    @apply ml-1.1em pl-0.2em leading-1.8em text-brand-gray-primary;
  }

  blockquote {
    @apply text-sm px-2 py-1 bg-$prism-background text-$prism-foreground border-$slidev-theme-primary border-l rounded;
  }

  blockquote > * {
    @apply my-0;
  }

  table {
    @apply w-full text-brand-gray-primary;
  }

  thead {
    @apply text-white;
  }

  tr {
    @apply border-b border-opacity-20;
  }

  th {
    @apply text-left font-400;
  }

  a {
    @apply border-current border-b border-dashed hover:border-solid;
  }

  td, th {
    @apply p-2 py-3;
  }

  b, strong {
    @apply font-600;
  }

  kbd {
    @apply border border-gray-400 border-b-2 border-opacity-20 rounded;
    @apply bg-gray-400 bg-opacity-5 py-0.5 px-1 text-xs font-mono;
  }
}

.dbp-layout {
  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }

  &.title {
    h1 {
      @apply text-5xl leading-12 m-0;
    }

    p {
      @apply text-sm my-0;
    }
  }

  &.intro {
    h1 {
      @apply text-6xl leading-20;
    }
  }
}



.dbp-layout.fact {
  @apply text-center grid h-full;
  h1 {
    @apply text-8xl font-700;
  }
  h1 + p {
    @apply font-700 text-2xl;
  }
}
.dbp-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}
.dbp-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}
.dbp-layout.section {
  h1 {
    @apply text-6xl font-500 leading-20;
  }
}

.dbp-layout {
  > * {
    @apply flex-shrink-0;
  }
}

.slidev-code {
  @apply border h-full;
}

.code-text-xl {
  @apply flex-grow;
}

.code-text-xl .slidev-code code {
  @apply text-xl;
}

.border-primary {
  border-color: #ffffff;
}

.intro {
  background-color: #000000;
  color: #ffffff;

  & h1+p {
    @apply text-lg;
  }
}

.console {
  width: 100%;
  border-radius: var(--slidev-code-radius);
  color: rgb(225, 228, 232);
  background-color: rgb(36, 41, 46);

  font-size: var(--slidev-code-font-size);
  line-height: var(--slidev-code-line-height);

  .terminal {
    padding: 0 0 var(--slidev-code-padding) var(--slidev-code-padding);
  }

  .body {
    overflow-y: auto;
  }

  .input {
    &::before {
      content: "$  ";
      color: rgb(255, 121, 198);
      margin-right: 0.25rem;
    }
  }
}
